.appointmentprofile{
  display: flex;
  flex-direction: column;
  color: #84a9ac;
  height: 100vh;
  width: 100vw;
}

.appointmentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;


  .infoAppointment {
      padding: 2vh;
      border-radius: 1em;
      margin: 2em;
      background-color:  #f7a730;
      text-align: center;
      display: flex;
      flex-direction: column;
      vertical-align: middle
      
  }
  .inside{
    background-color: #f7a730;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    color:  #000000;
  }

  .buttondelete{
    display: flex;
    justify-content: center;
    background-color:  #f7a730;
    margin-top: 0.5em;


    
    .deleteButton{
    cursor: pointer;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
	  background-color:#e4685d;
	  border-radius:4px;
	  border:1px solid #080808;
	  display:inline-block;
	  color:#0a0a0a;
	  -family:Arial;
	  font-size:15px;
	  padding:6px 15px;
	  text-decoration:none;
	  text-shadow:0px 1px 0px #b23e35;
    }
  }

}

.justifybutton{
  display: flex;
  justify-content: center;
}

.backbutton{
  width: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  border: none;
  color: #080808;
  background-color:#dbe8e9;
  cursor: pointer;
  border-radius: 0.6em;
  padding: 0.3em;
  &:hover{
    background-color: #11537A;
    color: #dbe8e9;
  }
}